.saveMonyStage{
    height: 65px;
}

.saveMoney{
    width: 1091px;
    height: 65px;
    background-color: #1C252E;
    position: absolute;
    left: 266px;
}

.saveMoneyBorder{
    width: 0;
    height: 0;
    border-right: 33px solid transparent;
    border-left: 34px solid #1C252E;
    border-top: 34px solid #1C252E;
    border-bottom: 33px solid transparent;
    position: absolute;
    left: 1357px;
}

.learnMoreBorder{
    width: 0;
    height: 0;
    border-right: 33px solid #AB1D2B;
    border-left: 34px solid transparent;
    border-top: 34px solid transparent;
    border-bottom: 33px solid #AB1D2B;
    position: absolute;
    left: 1357px;

}

.learnMore{
    width: 235px;
    height: 65px;
    background-color: #AB1D2B;
    position: absolute;
    left: 1422px;
}

.saveMoneyText{
    color: #FFFFFF;
    font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 137px;
}

.learnMoreText{
    display: inline;
    color: #FFFFFF;
    font-size: 19px;
}

.learnMoreArrow{
    display: inline;
    color: #FFFFFF;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
    top: 10px;
}